
.right{
    /*min-height: 1000px;*/
    height: auto;
    width: 60%;
    /*background-color: aquamarine;*/
    border-top-right-radius: 15px;
    
    z-index: 2;
    border-bottom-right-radius: 15px;
    display: block;
    
    
    
}
.right-dev-info-fixed-1-part1{
    /*background-color: lightgrey;*/
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    /* background-color: burlywood; */
    
}
.right-fixied-company{
    margin-bottom: 10px;
    color: #141B5F;
    font-weight: 600;
}

.right-a-div{
    height:35px;
    margin-top: 10px;
    /*background-color: blueviolet;*/
}
.right-a{
    text-decoration: solid;
    text-transform: capitalize;
    text-decoration-line: underline ;
    
    text-decoration-color: #8A96DE;
    color: #8A96DE;
    font-weight: 600;
}

.right-dev-info-fixed-1-1{
    /*background-color: darkkhaki;*/
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    border-bottom: 1.9px solid #888686;
    background-color: white;
}
.a-aboutjob{
    background-color: #141B5F;
    color:#FFFFFF;
    padding: 10px;
    border-radius: 30px;
    font-weight: 300;
    position: absolute;
    top: 10px;
    left: 250px;
    font-family: 'Poppins', sans-serif;
}
.right-dev-info-fixed-1-part2{
    position: relative;
    /* background-color: rgb(84, 39, 39); */
    right: 5%;
}


/*fixed-box-2*/
.application-div-text{
    /* background-color: honeydew; */
    margin-top: 3px;

}
.application-status-p{
    font-weight: 500;
    text-transform:capitalize;
}








.right-dev-info-fixed-1{
    /*background-color: aquamarine;*/
    height: 270px;
    margin-top: 2px;
    
    border-bottom: 1.9px solid #888686;
    
    
    
}
/*competed fixed box*/
/*start recommation job info box*/















.right-recommendation-div{
    margin-top: 10px;
    /*background-color: brown;*/
    position: sticky;
    top: 120px;
    margin-bottom: 20PX;
    border-bottom: 2px solid black;
    background-color: #FFFFFF;
}



.right-dev-info{
    /*background-color: bisque;*/
    /*min-height: 100vh;*/
    height: auto;
    margin-left: 15px;
    z-index: 1;
    border-bottom-right-radius: 15px;
    

}
.right-insert{
    /*background-color: red;*/
    /*min-height: 100vh;*/
    height: auto;
    background-color: #FFFFFF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    flex-grow: 1;
    
}

.right .right-insert{
    overflow: visible;
}






